/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, button {
  margin: 0;
  padding: 0;
}

/* Set a default font and background for the whole app */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Style main container */
#root {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
}

/* Add some spacing between form elements */
input,
textarea,
button {
  margin-bottom: 20px;
}

/* Style buttons */
button {
  cursor: pointer;
}
